<% layout("/layouts/boilerplate.ejs") %>
    <div class="page-content-wrapper">
        <header class="header">
            <h1 class="leaderboard-title">Leaderboard</h1>
            <p class="leaderboard-sub-title">Here's a list of all the top-rankers from our players</p>
        </header>
        <div class="leaderboard-content">
            <% for (let score of allScoreDescending) { %>
                <a href="/user/<%= score.owner._id %> ">
                    <span class="leaderboard-scores-box">
                        <p>
                            <%= startValue %>. <%= score.owner.username %>
                        </p>
                        <div class="leaderboard-scores-player-scores">
                            <p><%= score.wpm %> wpm</p>
                            <p><%= score.points  %> points </p>
                        </div>
                    </span>
                </a>
                <% startValue += 1 %> 
            <% } %>
        </div>
    </div>